.nav_linkes  li{
 list-style: none;
 font-size:larger;
}
.nav_linkes{
    gap: 80px;
    margin-top: revert !important;
}
.nav_linkes  li a{
text-decoration: none;
color: white;
font-weight: 400;
}
.logo_img img{
    height: 50px;
    width: 40px;
}
.main_navbar_container{
    justify-content: space-between;
    align-items: center;
}
.say_hello_text h6{
    color: white;
}